*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

#logo > img{
    width: 15%;
}

.nav li{
    list-style-type: none;
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
}

.nav a{
    font-size: 16px;
    text-decoration: none;
    margin: 0 5px;
    color: gray;
}

#default-box{
    width: 1000px;
    height: 500px;
    border-radius: 20px;
    margin-top: 30px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-box{
    padding-top: 350px;
    padding-left: 30px;
    color: grey;
    font-weight: 300;
}

.title{
    margin-top: 10px ;
}

.title h3{
    font-size: 30px;
}

.title h6{
    color: gray;
}