*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    max-height: 1000px;
    margin: 0 auto;
}

#logo > img{
    width: 15%;
}

.nav li{
    list-style-type: none;
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
}

.nav a{
    font-size: 16px;
    text-decoration: none;
    margin: 0 5px;
    color: gray;
}

#default-box{
    width: 1200px;
    height: 600px;
    border-radius: 20px;
    margin-top: 30px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0,7;
}

.text-box{
    padding-top: 450px;
    padding-left: 30px;
    color: gray;
    font-weight: 300;
}

.title{
    margin-top: 30px;
}

.title h3{
    font-size: 30px;
}

.title h6{
    color: gray;
    font-size: 15px;
}

.image-box::after, .description::after{
    content: "";
    display: table;
    clear: both;
}

.image-box{
    margin-top: 20px;
}

.float{
    float: left;
}

.first-box{
    width: 25%;
    height: 300px;
    background-image: url("../img/img-1.jpg");
    border: 2px solid black;
    background-size: 100% 100%;
    border-radius: 20px;
}

.second-box{
    width: calc(50% - 40px);
    height: 300px;
    background-image: url("../img/banner-2.jpg");
    border: 2px solid black;
    background-size: 100% 100%;
    margin: 0 20px;
    border-radius: 20px;
}

.third-box{
    width: 25%;
    height: 300px;
    background-image: url("../img/img-3.jpg");
    border: 2px solid black;
    background-size: 100% 100%;
    border-radius: 20px;
}

.first-description{
    width: 25%;
}

.second-description{
    width: calc(50% - 40px);
    margin: 0 20px;
}

.third-description{
    width: 25%;
}

.description p:only-of-type{
    color: #b8b8b8;
}

.description h3:only-of-type{
    padding: 10px 0;
}

footer{
    text-align: center;
    margin: 25px 0;
}

footer > i{
    color: red;
}

