*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

#logo > img{
    width: 15%;
}

.nav li{
    list-style-type: none;
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
}

.nav a{
    font-size: 16px;
    text-decoration: none;
    margin: 0 5px;
    color: gray;
}

#default-box{
    width: 1200px;
    height: 500px;
    border-radius: 20px;
    margin-top: 30px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-box{
    padding-top: 350px;
    padding-left: 30px;
    color: grey;
    font-weight: 300;
}

.title{
    margin-top: 10px ;
}

.title h3{
    font-size: 30px;
}

.title h6{
    color: gray;
}

.image-box::after, .description::after{
    content: "";
    display: table;
    clear: both;
}

.float{
    float: left;
}

.first-box{
    width: 25%;
    height: 200px;
    background-image: url("../img/img-1.jpg");
    border: 2px solid black;
    background-size: cover;
}

.second-box{
    width: 50%;
    height: 200px;
    background-image: url("../img/banner-2.jpg");
    border: 2px solid black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.third-box{
    width: 25%;
    height: 200px;
    background-image: url("../img/img-3.jpg");
    border: 2px solid black;
    background-size: cover;
}

.first-description{
    width: 25%;
    height: 200px;
}

.second-description{
    width: 50%;
    height: 200px;
}

.third-description{
    width: 25%;
    height: 200px;
}

footer{
    text-align: center;
}

footer > i{
    color: red;
}